@font-face {
  font-family: 'thewrittenword';
  src: url('../fonts/thewrittenword-webfont.eot');
  src: url('../fonts/thewrittenword-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thewrittenword-webfont.woff') format('woff'), url('../fonts/thewrittenword-webfont.ttf') format('truetype'), url('../fonts/thewrittenword-webfont.svg#thewrittenword_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
