/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	overflow-y: scroll;

	&.dark {
		h1, h2, h3, h4, h5 ,h6, p, span {color: black;}
		
	}
}

/* Overlay Colors */
.overlay-ux1 {background: @ux1-bg;}
.overlay-ux2 {background: @ux2-bg;}
.overlay-digital1 {background: @digital1-bg;}
.overlay-digital2 {background: @digital2-bg;}
.overlay-print1 {background: @print1-bg;}
.overlay-art1 {background: @art1-bg};

/* Highlight Colors */
.overlay-ux1 .sky-tabs > input:checked + label span span, 
.overlay-ux1 .sky-tabs > input + label span span:hover,
.overlay-ux1 .sky-tabs > label:hover span span  {background: @ux1-highlight;}

.overlay-ux2 .sky-tabs > input:checked + label span span, 
.overlay-ux2 .sky-tabs > input + label span span:hover,
.overlay-ux2 .sky-tabs > label:hover span span  {background: @ux2-highlight;}

.overlay-digital1 .sky-tabs > input:checked + label span span, 
.overlay-digital1 .sky-tabs > input + label span span:hover,
.overlay-digital1 .sky-tabs > label:hover span span  {background: @digital1-highlight;}

.overlay-digital2 .sky-tabs > input:checked + label span span, 
.overlay-digital2 .sky-tabs > input + label span span:hover,
.overlay-digital2 .sky-tabs > label:hover span span  {background: @digital2-highlight;}

.overlay-print1 .sky-tabs > input:checked + label span span, 
.overlay-print1 .sky-tabs > input + label span span:hover,
.overlay-print1 .sky-tabs > label:hover span span  {background: @print1-highlight;}

.overlay-art1 .sky-tabs > input:checked + label span span, 
.overlay-art1 .sky-tabs > input + label span span:hover,
.overlay-art1 .sky-tabs > label:hover span span  {background: @art1-highlight;}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 54px;
	height: 54px;
	position: absolute;
	right: 0px;
	top: 0px;
	overflow: hidden;
	border: none;
	background: #1f1f1f;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
	cursor: pointer;

	.close-icon {position: absolute; width: 16px; height: 16px; background: url(../images/cross.png) no-repeat center center; top: 19px; right: 19px; color: transparent; outline: none; border: none; cursor: pointer;

		&.dark {background: url(../images/cross-dark.png) no-repeat center center;}
		
	}
}

.scroll-wrapper {position: static;}

/* Menu style */
.overlay nav { text-align: center; position: relative; top: 50%; height: 60%; -webkit-transform: translateY(-50%); transform: translateY(-50%);
	
	ul {list-style: none; padding: 0; margin: 0 auto; display: block; height: 100%; position: relative;

		li {display: block; height: 20%; height: calc(100% / 5); min-height: 54px; -webkit-backface-visibility: hidden; 
		backface-visibility: hidden;

			a {font-size: inherit; font-weight: 300; display: block; color: #fff; -webkit-transition: color 0.2s; transition: color 0.2s;

				&:hover, &:focus {color: #f0f0f0;}
			}
		}
	}
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.overlay-content {padding: 15px 0 0 0; line-height:1.7em; width:100%; display: block;
	h1 {margin-bottom: 8px; font-weight: 100; font-size: 2.1em; line-height:1.1em;}
	p {font-size: 1.1em; margin-top: 3px;}
}

.tags-box {position: absolute; display: block; bottom: 40px; right: 30px; width: 185px; height: auto;

	&.dark {
		ul li .tag {background: @dark-tag;}
	}
	&.light {
		ul li .tag {background: @light-tag;}
	}

	ul {width: 100%;

		li {min-height: 0; list-style: none;

			.tag { padding:0; margin:0 0 10px 0;

				p {padding: 10px; color: white; font-size: 13px;

					span {float: right; font-size: 22px;}	
				}
			}	
		}
	}
}




@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}

}

@media screen and (max-width: 64.0em) {
	
	.tags-box {position: relative; width: 100%; padding-top: 1em; left: inherit; top: inherit;

		ul {

			li {display: inline-block; width: 185px; padding-right: .5em;}
		}
	}
}

@media screen and (max-width: 1280px) {
	.overlay-content {padding: 15px 10px 10px 10px;}
}